body {
    font-family: Helvetica, arial, sans-serif;
    font-size: 14px;
    background-color: #E8E5C2;
}

h2{
    text-decoration: underline;
}

#content{
    width: 900px;
    text-align: justify;
    margin: auto;
    left: 0px;
    right: 0px;
}

.high{
    color: #D21C0F;
    font-weight: bold;
}

.med{
    color: #FFAB00;
    font-weight: bold;
}

.low{
    color: #FFFF4B;
    font-weight: bold;
}

.bold{
    font-weight: bold;
}